/* Full Page */
* {
    font-family: Helvetica, sans-serif;
}

#main-header {
    font-family: 'Lobster', cursive;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("../img/pattern.jpeg");
}

.secondary-header {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brushes .secondary-header {
    background-color: mediumspringgreen;
}

#frames .secondary-header {
    background-color: lightcoral;
}

#paint .secondary-header {
    background-color: skyblue;
}

.prices {
    font-weight: bold;
    color: blue;
}